@import './main.scss';

.contact{
    padding: 25px 0 25px 70px;
    @include align-flex(column);
    @media (max-width: 700px){
        padding-left: 0;
    }
    h2{
        font-size: 35px;
        font-weight: 500;
        @media (max-width: 600px){
            font-size: 30px;
        }
    }
    form{
        background-color: $profile-background;
        width: calc(90% - 60px);
        padding: 30px;
        max-width: 600px;
        @include align-flex(column);
        gap: 15px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        text-align: center;
        .title{
            @include align-flex(column);
            width: calc(98% - 40px);
            gap: 5px;
            align-items: flex-start;
            background-color: rgb(190, 220, 255);
            padding: 20px;
            border-radius: 10px 10px 0 0;
            border-top: 10px solid $blue-color;
            p{
                margin: 0;
                span{
                    color: red;
                }
            }
            h3{
                font-size: 25px;
                font-weight: 500;
                margin: 0;
                @media (max-width: 600px){
                    font-size: 20px;
                }
            }
        }
        .inputbox{
            @include align-flex(column);
            width: calc(98% - 40px);
            gap: 5px;
            align-items: flex-start;
            background-color: rgb(190, 220, 255);
            padding: 20px;
            border-radius: 10px 10px 0 0;
            label{
                font-size: 20px;
                font-weight: 400;
                span{
                    color: red;
                    margin-left: 5px;
                }
            }
            input, textarea{
                width: calc(100% - 20px);
                padding: 10px;
                font-size: 15px;
                font-family: $main-font;
                border-radius: 10px;
                border: 0px solid transparent;
                border-bottom: 3px solid gray;
                outline: none;
                transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                &:focus{
                    border: 3px solid $blue-color;
                    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
                }
            }
            textarea{
                height: 200px;
                resize: none;
            }
        }
        .buttons{
            @include align-flex(row);
            width: 98%;
            justify-content: space-between;
            button{
                padding: 10px 20px;
                font-family: $main-font;
                font-size: 17px;
                border-radius: 10px;
                color: white;
                width: 45%;
                font-weight: 500;
                &:disabled{
                    background-color: rgb(200, 200, 200);
                }
            }
            .submit{
                background-color: $blue-color;
            }
            .reset{
                background-color: rgb(255, 50, 50);
            }
        }
    }
}