@import './main.scss';

.contact{
    padding: 25px 0 25px 70px;
    @include align-flex(column);
    @media (max-width: 700px){
        padding-left: 0;
    }
    h2{
        font-size: 35px;
        font-weight: 500;
        @media (max-width: 600px){
            font-size: 30px;
        }
    }
}