@import url('https://fonts.googleapis.com/css2?family=Allura&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-font: "Barlow Condensed", sans-serif;
$name-font: "Allura", cursive;
$cookies-container: rgb(205, 209, 222);
$navbar-color: rgb(13, 50, 77);
$navbar-button-hover: rgba(black, 0.15);
$navbar-button-activated: rgb(255, 115, 18);
$profile-background: rgb(240, 240, 240);

@mixin align-flex($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}