@import './main.scss';

.nav{
    @include align-flex(column);
    background-color: red;
    width: max-content;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    height: calc(100vh - 30px);
    border-radius: 0 20px 20px 0;
    background-color: rgba($navbar-color, 0.75);
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    button{
        padding: 0;
        background-color: transparent;
    }
    a{
        text-decoration: none;
        font-size: 15px;
    }
    p{
        margin: 0;
        font-size: 15px;
    }
    svg{
        width: 25px;
        height: 25px;
    }
    .title{
        font-weight: 700;
        letter-spacing: 3px;
    }
    .menu{
        svg{
            height: 30px;
            width: 30px;
        }
    }
    .interns{
        @include align-flex(column);
        align-items: flex-start;
        gap: 5px;
        .line{
            height: 1px;
            background-color: black;
            display: block;
            width: 100%;
        }
        .profile{
            @include align-flex(row);
            gap: 5px;
            img{
                border-radius: 100px;
            }
            .namedev{
                @include align-flex(column);
                justify-content: space-between;
                align-items: flex-start;
                gap: 10px;
            }
            .name{
                font-weight: 600;
                font-size: 17px;
            }
            .dev{
                font-weight: 500;
            }
        }
        .home, .homeactivated{
            @include align-flex(row);
            gap: 5px;
            padding: 5px;
            border-radius: 10px;
            width: 100%;
            justify-content: flex-start;
        }
        .home{
            background-color: transparent;
            &:hover{
                background-color: $navbar-button-hover;
            }
        }
        .homeactivated{
            background-color: $navbar-button-actived;
        }
        .navigation{
            @include align-flex(column);
            align-items: flex-start;
            gap: 10px;
            width: 100%;
            .link, .linkactivated{
                @include align-flex(row);
                gap: 5px;
                padding: 5px;
                border-radius: 10px;
                width: 100%;
                justify-content: flex-start;
            }
            .link{
                &:hover{
                    background-color: $navbar-button-hover;
                }
            }
            .linkactivated{
                background-color: $navbar-button-actived;
            }
        }
        .linkscontainer{
            @include align-flex(column);
            gap: 10px;
            align-items: flex-start;
            width: 100%;
            .links{
                @include align-flex(column);
                align-items: flex-start;
                gap: 5px;
                width: 100%;
                a{
                    @include align-flex(row);
                    width: calc(100% - 10px);
                    gap: 5px;
                    color: rgb(0, 0, 150);
                    padding: 5px;
                    border-radius: 10px;
                    justify-content: flex-start;
                    .arrow{
                        height: 15px;
                        width: 15px;
                        margin-left: -5px;
                    }
                    &:hover{
                        background-color: $navbar-button-hover;
                    }
                }
            }
        }
        .settingscontainer{
            @include align-flex(column);
            gap: 5px;
            align-items: flex-start;
            width: 100%;
            .settings{
                @include align-flex(row);
                gap: 10px;
                color: black;
                padding: 5px;
                border-radius: 10px;
                width: calc(100% - 10px);
                justify-content: flex-start;
                &:hover{
                    background-color: $navbar-button-hover;
                }
            }
        }
    }
    .top{
        position: fixed;
        right: 20px;
        bottom: 20px;
        transform: rotateZ(180deg);
        @include align-flex(row);
        padding: 5px;
        border-radius: 15px;
        background-color: $cookies-acept;
        &:hover{
            background-color: $navbar-button-hover;
        }
    }
}