@import './main.scss';

.nav{
    @include align-flex(column);
    z-index: 3;
    padding: 0;
    top: 0;
    left: 0;
    padding-top: 55px;
    height: calc(100vh - 55px);
    justify-content: flex-start;
    background-color: $navbar-color;
    border-right: 7px solid $navbar-button-activated;
    padding-left: 8px;
    width: max-content;
    gap: 5px;
    position: fixed;
    p, a{
        margin: 0;
        font-size: 17px;
        font-weight: 400;
        font-family: $main-font;
        color: rgb(230, 230, 230);
    }
    a{
        text-decoration: none;
    }
    button{
        background-color: transparent;
        padding: 0;
    }
    svg{
        width: 25px;
        height: 25px;
        color: rgb(230, 230, 230);
    }
    .profile{
        @include align-flex(row);
        gap: 5px;
        padding: 5px 10px;
        border: 2px solid $navbar-button-activated;
        border-radius: 10px 0 0 10px;
        margin-right: -2px;
        img{
            border-radius: 100px;
        }
        .namedev{
            @include align-flex(column);
            justify-content: space-between;
            align-items: flex-start;
        }
        .name{
            font-weight: 500;
            font-size: 30px;
            font-family: $name-font;
        }
        .dev{
            font-size: 20px;
            font-weight: 100;
            font-family: $main-font;
            font-size: 17px;
        }
    }
    .menu{
        @include align-flex(column);
        padding: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 100px;
        &:hover{
            background-color: $navbar-button-hover;
        }
    }
    .menulink, .menulinkactivated{
        @include align-flex(row);
        gap: 5px;
        padding: 10px;
        border-radius: 5px 0 0 5px;
        width: 100%;
        justify-content: flex-start;
    }
    .menulink{
        &:hover{
            background-color: $navbar-button-hover;
        }
    }
    .menulinkactivated{
        background-color: $navbar-button-activated;
    }
    .link{
        @include align-flex(row);
        gap: 5px;
        padding: 10px;
        border-radius: 5px 0 0 5px;
        width: calc(100% - 20px);
        justify-content: flex-start;
        color: rgb(0, 0, 150);
        .arrow{
            height: 15px;
            width: 15px;
        }
        &:hover{
            background-color: $navbar-button-hover;
        }
    }
}
.top{
    position: fixed;
    right: 20px;
    bottom: 70px;
    transform: rotateZ(180deg);
    @include align-flex(row);
    padding: 5px;
    border-radius: 10px;
    background-color: $navbar-color;
    z-index: 1;
    svg{
        width: 25px;
        height: 25px;
        color: rgb(230, 230, 230);
    }
    &:hover{
        background-color: $navbar-button-activated;
    }
}
.background{
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navcompress{
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    background-color: $navbar-color;
    @include align-flex(row);
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
    button{
        padding: 0;
        background-color: transparent;  
        p{
            margin: 0;
            font-size: 15px;
            font-weight: 400;
            font-family: $main-font;
            @media (max-width: 400px){
                font-size: 12px;
            }
        }
        svg{
            width: 20px;
            height: 20px;
            @media (max-width: 400px){
                width: 15px;
                height: 15px;
            }
        }
    }
    .menulink{
        p, svg{
            color: white;
        }
    }
    .menulinkactivated{
        p, svg{
            color: $navbar-button-activated;
        }
    }
    a{
        text-decoration: none;
        @include align-flex(column);
        p, svg{
            margin: 0;
            color: white;
        }
        p{
            font-size: 15px;
            font-weight: 400;
            font-family: $main-font;
            @media (max-width: 400px){
                font-size: 12px;
            }
        }
        svg{
            width: 20px;
            height: 20px;
            @media (max-width: 400px){
                width: 15px;
                height: 15px;
            }
        }
    }
}