@import './main.scss';

.cookiespolicy{
    @include align-flex(column);
    padding: 25px 0;
    gap: 25px;
    .intern{
        width: max-content;
        text-align: center;
        @include align-flex(column);
        gap: 10px;
        width: 85%;
        max-width: 500px;
        h3{
            font-size: 25px;
            font-weight: 500;
            margin: 0;
            margin-top: 25px;
            @include align-flex(row);
            gap: 5px;
            svg{
                width: 30px;
                height: 30px;
            }
        }
        p{
            font-size: 17px;
            margin: 0;
        }
    }
}