@import './main.scss';

.home{
    padding-left: 75px;
    height: 100vh;
    @include align-flex(column);
    .name{
        position: absolute;
        font-family: $name-font;
        top: 10px;
        left: 90px;
        font-size: 60px;
        margin: 0;
        font-weight: 400;
        text-shadow: 5px 5px 5px rgba(black, 0.7);
        @media (max-width: 1600px){
            font-size: 50px;
        }
        @media (max-width: 1000px){
            font-size: 40px;
        }
        @media (max-width: 800px){
            font-size: 25px;
        }
        @media (max-width: 500px){
            font-size: 20px;
        }
    }
    .text{
        text-align: center;
        position: relative;
        @include align-flex(column);
        h1{
            font-size: 125px;
            font-weight: 500;
            margin: 0;
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
            padding: 10px;
            @media (max-width: 1600px){
                font-size: 100px;
            }
            @media (max-width: 1000px){
                font-size: 75px;
            }
            @media (max-width: 800px){
                font-size: 50px;
            }
            @media (max-width: 500px){
                font-size: 30px;
            }
        }
        .portfolio{
            font-size: 75px;
            margin: 0;
            font-weight: 300;
            @media (max-width: 1600px){
                font-size: 70px;
            }
            @media (max-width: 1000px){
                font-size: 40px;
            }
            @media (max-width: 800px){
                font-size: 30px;
            }
            @media (max-width: 500px){
                font-size: 20px;
            }
        }
        .seo, .responsive, .innovation, .next, .uix{
            width: max-content;
            padding: 5px 20px;
            font-size: 25px;
            border-radius: 15px;
            position: absolute;
            box-shadow: 5px 5px 4px rgba(black, 0.7);
            color: rgb(240, 240, 240);
            margin: 0;
            @media (max-width: 1000px){
                font-size: 20px;
            }
            @media (max-width: 800px){
                font-size: 15px;
                padding: 5px;
            }
            @media (max-width: 800px){
                font-size: 10px;
            }
        }
        .seo{
            left: 0;
            top: 20px;
            transform: rotateZ(-30deg);
            background-color: $cookies-acept;
        }
        .responsive{
            top: 20px;
            right: -25px;
            transform: rotateZ(25deg);
            background-color: $responsive-color;
        }
        .innovation{
            top: 60%;
            left: 10%;
            transform: rotateZ(-15deg);
            background-color: $innovation-color;
        }
        .next{
            top: 25%;
            left: 45%;
            background-color: $navbar-color;
        }
        .next{
            top: 25%;
            left: 45%;
            background-color: $navbar-color;
        }
        .uix{
            background-color: $uix-color;
            right: 15%;
            bottom: 25%;
            transform: rotateZ(-38deg);
        }
        .phrase{
            font-size: 30px;
            margin: 0;
            padding: 5px;
            color: gray;
            @media (max-width: 1000px){
                font-size: 25px;
            }
            @media (max-width: 800px){
                font-size: 15px;
            }
            @media (max-width: 500px){
                font-size: 10px;
            }
        }
    }
    .links{
        margin-top: 20px;
        @include align-flex(row);
        gap: 20px;
        @media (max-width: 600px){
            gap: 5px;
        }
        a{
            @include align-flex(row);
            gap: 0px;
            text-decoration: none;
            border: 2px solid gray;
            padding: 7px 15px;
            border-radius: 15px;
            @media (max-width: 800px){
                padding: 5px 10px;
            }
            p{
                font-size: 20px;
                color: black;
                font-weight: 400;
                margin: 0;
                @media (max-width: 600px){
                    font-size: 15px;
                }
                @media (max-width: 400px){
                    font-size: 10px;
                }
                &::before{
                    content: '';
                    border: 1px solid gray;
                    margin: 0px 5px;
                }
            }
            svg{
                width: 25px;
                height: 25px;
                @media (max-width: 600px){
                    width: 20px;
                    height: 20px;
                }
                @media (max-width: 400px){
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .linkedin{
            &:hover{
                background-color: $cookies-acept;
                border: 2px solid $cookies-acept;
                box-shadow: 5px 5px 5px rgba(black, 0.5);
                p, svg{
                    color: white;
                    text-shadow: 5px 5px 5px black;
                }
            }
            svg{
                color: $cookies-acept;
            }
        }
        .github{
            svg{
                color: black;
            }
            &:hover{
                background-color: rgb(75, 75, 75);
                border: 2px solid rgb(75, 75, 75);
                box-shadow: 5px 5px 5px rgba(black, 0.5);
                p, svg{
                    color: white;
                    text-shadow: 5px 5px 5px black;
                }
            }
        }
        .curriculum{
            &:hover{
                background-color: $uix-color;
                border: 2px solid $uix-color;
                box-shadow: 5px 5px 5px rgba(black, 0.5);
                p, svg{
                    color: white;
                    text-shadow: 5px 5px 5px rgba(black, 0.7);
                }
            }
            svg{
                color: black;
            }
        }
    }
}