@import './main.scss';

.home{
    padding-left: 75px;
    height: 100vh;
    @include align-flex(row);
    .name{
        position: absolute;
        font-family: $name-font;
        top: 10px;
        left: 90px;
        font-size: 50px;
        margin: 0;
        font-weight: 400;
        text-shadow: 5px 5px 5px rgba(black, 0.7);
        @media (max-width: 1600px){
            font-size: 40px;
        }
        @media (max-width: 1000px){
            font-size: 40px;
        }
        @media (max-width: 800px){
            font-size: 25px;
        }
        @media (max-width: 500px){
            font-size: 20px;
        }
    }
    .text{
        text-align: center;
        position: relative;
        @include align-flex(column);
        h1{
            font-size: 125px;
            font-weight: 500;
            margin: 0;
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
            padding: 10px;
            @media (max-width: 1600px){
                font-size: 100px;
            }
            @media (max-width: 1000px){
                font-size: 75px;
            }
            @media (max-width: 800px){
                font-size: 50px;
            }
            @media (max-width: 500px){
                font-size: 30px;
            }
        }
        .portfolio{
            font-size: 75px;
            margin: 0;
            font-weight: 300;
            @media (max-width: 1600px){
                font-size: 70px;
            }
            @media (max-width: 1000px){
                font-size: 40px;
            }
            @media (max-width: 800px){
                font-size: 30px;
            }
            @media (max-width: 500px){
                font-size: 20px;
            }
        }
        .seo, .responsive, .innovation, .next{
            width: max-content;
            padding: 5px 20px;
            font-size: 25px;
            border-radius: 15px;
            position: absolute;
            box-shadow: 5px 5px 4px rgba(black, 0.7);
            color: rgb(240, 240, 240);
            margin: 0;
            @media (max-width: 1000px){
                font-size: 20px;
            }
            @media (max-width: 800px){
                font-size: 15px;
                padding: 5px;
            }
            @media (max-width: 800px){
                font-size: 10px;
            }
        }
        .seo{
            left: 0;
            top: 20px;
            transform: rotateZ(-30deg);
            background-color: $cookies-acept;
        }
        .responsive{
            top: 20px;
            right: -25px;
            transform: rotateZ(25deg);
            background-color: rgb(183, 173, 207);
        }
        .innovation{
            top: 60%;
            left: 10%;
            transform: rotateZ(-15deg);
            background-color: rgb(209, 156, 29);
        }
        .next{
            top: 25%;
            left: 45%;
            background-color: $navbar-color;
        }
        .phrase{
            font-size: 30px;
            margin: 0;
            padding: 5px;
            color: gray;
            @media (max-width: 1000px){
                font-size: 25px;
            }
            @media (max-width: 800px){
                font-size: 15px;
            }
            @media (max-width: 500px){
                font-size: 10px;
            }
        }
    }
}