@import './main.scss';

.summary{
    padding-left: 75px;
    @include align-flex(column);
    padding-bottom: 250px; //remover
    .profile{
        background-color: red;
        width: 95%;
        border-radius: 15px;
        padding-bottom: 25px;
        .image{
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 150px;
            background-image: url('/images/background.jpg');
            background-size: cover;
        }
        .infos{
            @include align-flex(column);
            padding: 0 25px;
            align-items: flex-start;
            img{
                border-radius: 150px;
                border: 5px solid white;
                margin-top: -100px;
                @media (max-width: 600px){
                    width: 125px;
                    height: 125px;
                    margin-top: -75px;
                }
            }
            h1{
                margin: 0;
            }
            .name{
                font-family: $name-font;
                font-size: 35px;
            }
            .dev{
                font-size: 25px;
                font-weight: 400;
                margin-top: -10px;
            }
            .about{
                width: calc(100% - 60px);
                @include align-flex(column);
                align-items: flex-start;
                gap: 15px;
                background-color: gray;
                margin-top: 25px;
                background-color: gray;
                padding: 30px;
                border-radius: 5px;
                h2{
                    margin: 0;
                    font-weight: 500;
                    font-size: 25px;
                }
                p{
                    margin: 0;
                    font-size: 17px;
                    padding: 10px 30px;
                }
            }
            .skills{
                width: calc(100% - 40px);
                @include align-flex(column);
                align-items: flex-start;
                gap: 20px;
                background-color: gray;
                margin-top: 25px;
                background-color: gray;
                padding: 20px;
                border-radius: 5px;
                h2{
                    font-size: 25px;
                    margin: 0;
                    font-weight: 500;
                }
                .union{
                    width: 100%;
                    @include align-flex(row);
                    justify-content: center;
                    gap: 15px;
                    flex-wrap: wrap;
                    .titleskills{
                        @include align-flex(column);
                        background-color: rgba(blue, 0.2);
                        width: calc(50% - 70px);
                        border-radius: 5px;
                        align-items: flex-start;
                        padding: 30px;
                        gap: 10px;
                        @media (max-width: 1000px){
                            width: 100%;
                        }
                        h3{
                            margin: 0;
                            font-weight: 400;
                            font-size: 20px;
                        }
                        .hard, .soft{
                            @include align-flex(row);
                            width: 100%;
                            flex-wrap: wrap;
                            gap: 10px;
                            .card{
                                background-color: gray;
                                height: 70px;
                                width: 70px;
                                border-radius: 10px;
                                @include align-flex(column);
                                padding: 5px;
                                p{
                                    margin: 0;
                                    font-weight: 400;
                                    font-size: 17px;
                                }
                                svg{
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                        }
                    }
                }
                .union2{
                    width: 100%;
                    @include align-flex(row);
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 20px;
                    .card{
                        @include align-flex(column);
                        background-color: rgba(blue, 0.2);
                        width: calc(30% - 70px);
                        border-radius: 5px;
                        align-items: flex-start;
                        padding: 30px;
                        gap: 10px;
                        @media (max-width: 1600px){
                            width: calc(35% - 70px);
                        }
                        @media (max-width: 1400px){
                            width: calc(40% - 70px);
                        }
                        @media (max-width: 1200px){
                            width: calc(50% - 70px);
                        }
                        @media (max-width: 1000px){
                            width: calc(100% - 70px);
                        }
                        h3{
                            margin: 0;
                            font-weight: 400;
                            font-size: 20px;
                        }
                        p{
                            padding: 15px 30px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}